<!--{% block title %}音频评分{% endblock %}-->
<!--{% block content %}-->
    <div class="contents">
        <h1>Audio Samples for "SoundSpring: Loss-Resilient Audio Transceiver with Dual-Functional Masked Language Modeling"</h1>
        <div class="ShowPictures">
            <img src="./fig1.png" width=800 height=300>
        </div>
        
        <div style="margin:20px;border:1px solid #CCC "></div> 
        <p margin="10px">
            <h3 style="margin:10px;padding:0;line-height:20px">Neural audio codec:</h3>
            <br/>
            <b style="margin:10px;padding:0;">SoundStream:</b> Neural audio codec using residual vector quantization (RVQ) by Google Research. The same audio encoder and decoder is employed in  for .
            <br/>
            <b style="margin:10px;padding:0;"></b>N. Zeghidour, et.al ``Soundstream: An end-to-end neural audio codec,'' IEEE/ACM Trans. Audio Speech Language Process., vol. 30, pp. 495–507, 2021.
            <br/>
            <br/>
            <h3 style="margin:10px;padding:0;line-height:20px">Traditional audio codec:</h3>
            <br/>
            <b style="margin:10px;padding:0;">AMR-WB:</b> B. Bessette, et.al ``The adaptive multirate wideband speech codec (AMR-WB),'' IEEE Trans. Speech Audio Process., 2002
            <br/>
            <b style="margin:10px;padding:0;">Opus:</b> Low bit-rate redundancy (LBRR) is available in 18 kbps.
            <br/>
            <b style="margin:10px;padding:0;"></b> J.-M. Valin, et.al, ``Definition of the Opus audio codec,'' IETF, 2012.
            <br/>
            <b style="margin:10px;padding:0;">AAC:</b> Advanced audio coding, ISO/IEC 13818-7:1997
        </p>

        <div style="margin:30px; border:1px solid #CCC "></div> 

        <h2 style="text-align: center;">Speech, 16 kHz Mono</h2>
        <div class="GroupNumber">
            <div class="GroupNumberIndex"><h2>10 % Random loss</h2></div>
            <div class="EmptyBetweenAudio"></div>
            <div class="GroupNumberIndex"><h2>30 % Random loss</h2></div>
            <div class="EmptyBetweenAudio"></div>
            <div class="GroupNumberIndex"><h2>WLAN Trace</h2></div>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">Original</h3></div>
            <audio preload="auto" controls="controls" src="./10/ref_Num016.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/ref_Num805.wav"></audio>
            <div class="group2name"><h3 align="left">Original</h3></div>
            <audio preload="auto" controls="controls" src="./30/ref_Num097.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/ref_Num734.wav"></audio>
            <div class="group2name"><h3 align="left">Original</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/ref_Num012.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/ref_Num016.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">AMR-WB 9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_amrwb_9kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_amrwb_9kbps.wav"></audio>
            <div class="group2name"><h3 align="left">AMR-WB 9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_amrwb_9kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_amrwb_9kbps.wav"></audio>
            <div class="group2name"><h3 align="left">AMR-WB 9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_amrwb_9kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_amrwb_9kbps.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">Opus @18kbps (LBRR)</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_opus_17.79.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_opus_17.79.wav"></audio>
            <div class="group2name"><h3 align="left">Opus @18kbps (LBRR)</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_opus_17.79.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_opus_17.79.wav"></audio>
            <div class="group2name"><h3 align="left">Opus @18kbps (LBRR)</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_opus_17.79.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_opus_17.79.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">Opus @9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_opus_8.99.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_opus_8.99.wav"></audio>
            <div class="group2name"><h3 align="left">Opus @9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_opus_8.99.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_opus_8.99.wav"></audio>
            <div class="group2name"><h3 align="left">Opus @9kbps</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_opus_8.99.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_opus_8.99.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left" style="color: rgb(67, 101, 222);" >SoundSpring + FEC @5.7kbps</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_3kbps_fec01.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_3kbps_fec01.wav"></audio>
            <div class="group2name"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring + FEC @5.7kbps</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_5.7kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_5.7kbps.wav"></audio>
            <div class="group2name"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring + FEC @12kbps</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_w_conceal.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_w_conceal.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring @9.3kbps</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_12kbps_nofec.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_12kbps_nofec.wav"></audio>
            <div class="group2name"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring + FEC @12kbps</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_12kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_12kbps.wav"></audio>
            <div class="group2name"><h3 align="left">SoundStream + FEC @14.8kbps</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_wo_conceal.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_wo_conceal.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">SoundStream + FD-PLC @6kbps</h3></div>
            <audio preload="auto" controls="controls" src="./10/N016_FDPLC_6kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./10/N805_FDPLC_6kbps.wav"></audio>
            <div class="group2name"><h3 align="left">SoundStream + FD-PLC @6kbps</h3></div>
            <audio preload="auto" controls="controls" src="./30/N097_FDPLC_6kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./30/N734_FDPLC_6kbps.wav"></audio>
            <div class="group2name"><h3 align="left">SoundStream + FD-PLC @12kbps</h3></div>
            <audio preload="auto" controls="controls" src="./WLAN/N012_FDPLC_12kbps.wav"></audio>
            <div class="EmptyBetweenAudio"></div>
            <audio preload="auto" controls="controls" src="./WLAN/N016_FDPLC_12kbps.wav"></audio>
        </div>

        <div style="margin:30px; border:1px solid #CCC "></div> 

        <h2 style="text-align: center;">Music, 48 kHz Stereo</h2>
        <div class="GroupNumber">
            <div class="Empty"></div>
            <div class="GroupNumberIndex"><h2>10 % Random loss </h2></div>
            <div class="EmptyBetweenAudio"></div>
            <div class="GroupNumberIndex"><h2>30 % Random loss</h2></div>
            <div class="EmptyBetweenAudio"></div>
            <div class="GroupNumberIndex"><h2>WLAN Trace</h2></div>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">Original audio</h3></div>
            <audio preload="auto" controls="controls" src="./music/N045_ref.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/N040_ref.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/N025_ref.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/N015_ref.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/N010_ref.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/N045_ref.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">Opus @18kbps</h3></div>
            <audio preload="auto" controls="controls" src="./music/10/N045_opus_18.0.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/10/N040_opus_18.0.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N025_opus_18.0.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N015_opus_18.0.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N010_opus_18.0.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N045_opus_18.0.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">AAC @32kbps</h3></div>
            <audio preload="auto" controls="controls" src="./music/10/N045_AAC32kbps_10perc.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/10/N040_AAC32kbps_10perc.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N025_AAC32kbps_30perc.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N015_AAC32kbps_30perc.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N010_AAC32kbps.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N045_AAC32kbps.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring @9.2kbps</h3></div>
            <audio preload="auto" controls="controls" src="./music/10/N045_soundspring_9.2kbps_fec_na.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/10/N040_soundspring_9.2kbps_fec_na.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N025_soundspring_9.2kbps_fec_na.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N015_soundspring_9.2kbps_fec_na.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N010_soundspring_9.2kbps_fec_na.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N045_soundspring_9.2kbps_fec_na.wav"></audio>
        </div>
        <div class="ShowAudio">
            <div class="groupname"><h3 align="left" style="color: rgb(67, 101, 222);">SoundSpring + FEC @12.1kbps</h3></div>
            <audio preload="auto" controls="controls" src="./music/10/N045_soundspring_12.1kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/10/N040_soundspring_12.1kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N025_soundspring_12.1kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N015_soundspring_12.1kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N010_soundspring_12.1kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N045_soundspring_12.1kbps_fec.wav"></audio>
        </div>

        <div class="ShowAudio">
            <div class="groupname"><h3 align="left">SoundStream + FEC @14.8kbps</h3></div>
            <audio preload="auto" controls="controls" src="./music/10/N045_soundstream_14.8kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/10/N040_soundstream_14.8kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N025_soundstream_14.8kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/30/N015_soundstream_14.8kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N010_soundstream_14.8kbps_fec.wav"></audio>
            <div class="EmptyBetweenMusic"></div>
            <audio preload="auto" controls="controls" src="./music/wlan/N045_soundstream_14.8kbps_fec.wav"></audio>
        </div>

    <p align="center"> Demo page for paper review. </p>
    <p align="center" style="width: 100%; align: center;color:#808080"> All rights reserved </p>

<!--{% endblock %}-->

<!--{% block head %}-->
    <!--{{ super() }}-->
    <style>
        .ShowPictures{
            text-align: center;
        }
        .EmptyBetweenPictures{
            width: 450px;
        }
        .EmptyBetweenAudio{
            width:30px;
        }
        .EmptyBetweenMusic{
            width:30px;
        }
        .Empty{
            width:206px;
        }
        .GroupNumber{
            display:flex;
        }
        .GroupNumberIndex{
            width: 33.33%;
            text-align: center;
        }
        .groupname{
            margin-left:20px;
            margin-right:20px;
            width: 206px;
        }
        .group2name{
            margin-left:20px;
            width: 206px;
        }
        .ShowAudio{
            width: auto;
            margin: 10px auto;
            display: flex;
            text-align: center;
            align-items: center;
        }
        .ShowAudio2{
            width: 33.33%;
            margin: 30px auto;
            display: flex;
            text-align: center;
            align-items: center;
        }
        .audiobackgroundblue{
            background: aqua;
        }
        .ReferenceAudio{
            width: 500px;
            margin: 30px auto;
            display: flex;
            text-align: left;
            align-items: left;
        }
        .RatingAudioBox{
            width: 5000px;
            text-align: left;
            align-items: center;
            display: flex;
        }
        .RatingBar{
            position: relative;
            width: 900px;
            display: inline-block;
        }
        #range1{
            position: absolute;
            margin-top: 3px;
            -webkit-appearance: none;
            background: #999;
            height: 5px;
            outline: none;
            width: 500px;
        }
        input[type=range]::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: red;
        }
        .GreenRange1{
            position: absolute;
            margin-left: 0px;
            margin-top: 3px;
            width: 0px;
            height: 5px;
            background: green;
            top: 0px;
            left: 0;
        }
        .RatingRange1{
            position: absolute;
            display: inline;
            margin-top: 10px;
        }
        .RatingValue1{
            display: inline-block;
            font-size: 20px;
            text-align: left;
            width: 40px;
        }
        #range2{
            position: absolute;
            margin-top: 3px;
            -webkit-appearance: none;
            background: #999;
            height: 5px;
            outline: none;
            width: 500px;
        }
        .GreenRange2{
            position: absolute;
            margin-left: 0px;
            margin-top: 3px;
            width: 0px;
            height: 5px;
            background: green;
            top: 0px;
            left: 0;
        }
        .RatingRange2{
            position: absolute;
            display: inline;
            margin-top: 10px;
        }
        .RatingValue2{
            display: inline-block;
            font-size: 20px;
            text-align: left;
            width: 40px;
        }
        #range3{
            position: absolute;
            margin-top: 3px;
            -webkit-appearance: none;
            background: #999;
            height: 5px;
            outline: none;
            width: 500px;
        }
        .GreenRange3{
            position: absolute;
            margin-left: 0px;
            margin-top: 3px;
            width: 0px;
            height: 5px;
            background: green;
            top: 0px;
            left: 0;
        }
        .RatingRange3{
            position: absolute;
            display: inline;
            margin-top: 10px;
        }
        .RatingValue3{
            display: inline-block;
            font-size: 20px;
            text-align: left;
            width: 40px;
        }
        #range4{
            position: absolute;
            margin-top: 3px;
            -webkit-appearance: none;
            background: #999;
            height: 5px;
            outline: none;
            width: 500px;
        }
        .GreenRange4{
            position: absolute;
            margin-left: 0px;
            margin-top: 3px;
            width: 0px;
            height: 5px;
            background: green;
            top: 0px;
            left: 0;
        }
        .RatingRange4{
            position: absolute;
            display: inline;
            margin-top: 10px;
        }
        .RatingValue4{
            display: inline-block;
            font-size: 20px;
            text-align: left;
            width: 40px;
        }
        #range5{
            position: absolute;
            margin-top: 3px;
            -webkit-appearance: none;
            background: #999;
            height: 5px;
            outline: none;
            width: 500px;
        }
        .GreenRange5{
            position: absolute;
            margin-left: 0px;
            margin-top: 3px;
            width: 0px;
            height: 5px;
            background: green;
            top: 0px;
            left: 0;
        }
        .RatingRange5{
            position: absolute;
            display: inline;
            margin-top: 10px;
        }
        .RatingValue5{
            display: inline-block;
            font-size: 20px;
            text-align: left;
            width: 40px;
        }


        .pictureGroupBox {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }

        .pictureBox {
            height: auto;
            width: 450px;
            align-items: center;
        }

        .pictureBoxEmpty {
            height: auto;
            width: 25px;
            align-items: center;
        }

        .pictureTag {
            height: auto;
            width: auto;
            text-align: center;
        }

        .pictureItem {
            height: auto !important;
            width: 100%;
        }

        .submit-button {
            width: 120px;
            height: 48px;
            background: #da9e3f;
            border-radius: 0 6px 6px 0;
            line-height: 48px;
            font-size: 18px;
            color: #fff;
            font-weight: 700;
            text-align: center;
        }

        .contents {
            margin-top: 20px;
            justify-content: space-between;
        }

        .contents .left {
            width: 280px;
        }

        .contents .left .sidebar {
            position: sticky;
            width: 280px;
            top: 130px;
        }

        .contents .left .sidebar .anchor {
            width: 100%;
            overflow: hidden;
            background: hsla(0, 0%, 100%, .6);
        }

        .contents .left .sidebar .anchor .item {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid hsla(0, 0%, 100%, .2);
            text-align: center;
            line-height: 60px;
            color: #182435;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: all .5s;
        }
    </style>
<!--{% endblock head %}-->

<!--{% block scripts %}-->
    <!--{{ super() }}-->
    <script type="text/javascript">
        $(document).ready(function() {
            var audioElement = document.createElement('audio');
            {#  audioElement.setAttribute('src', 'E:/code/web/tklaudio/bluelog/static/audio/1/1.WAV.wav');#}
            audioElement.setAttribute('src', 'http://www.soundjay.com/mechanical/camera-shutter-click-01.wav');
            audioElement.addEventListener('ended', function() {
                this.play();
            }, false);
            audioElement.addEventListener("canplay",function(){
                $("#length").text("Duration:" + audioElement.duration + " seconds");
                $("#source").text("Source:" + audioElement.src);
                $("#status").text("Status: Ready to play").css("color","green");
            });
            audioElement.addEventListener("timeupdate",function(){
                $("#currentTime").text("Current second:" + audioElement.currentTime);
            });
            $('#play').click(function() {
                audioElement.play();
                $("#status").text("Status: Playing");
            });
            $('#pause').click(function() {
                audioElement.pause();
                $("#status").text("Status: Paused");
            });
            $('#restart').click(function() {
                audioElement.currentTime = 0;
            }); 
        });

 
    </script>
